<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>GEDOC - Gestão Eletrônica de Documentos Contábeis</span>
    <span class="spacer"></span>
    <button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['']" mat-menu-item>
        <mat-icon>view_list</mat-icon>
        <span>Listagem</span>
      </button>
      <button [routerLink]="['/upload']" mat-menu-item>
        <mat-icon>attach_file</mat-icon>
        <span>Upload</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>